django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
duckduckgo_search
gunicorn
httpx
faiss-cpu
huggingface-hub
langchain
langchain-community
langchain-core
langchain-mistralai
mistralai
numpy
pandas
pillow
psycopg2-binary
requests
sacremoses
scikit-learn
scipy
sentence-transformers
SQLAlchemy
torch
transformers
